.block-80 .gallery-section {
  background-color: var(--blue-dark-background);
}
.block-80 .gallery-section .title-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-80 .gallery-section .title-sec .title {
  color: var(--white-color);
}
.block-80 .gallery-section .image-card-sec {
  position: relative;
}
.block-80 .gallery-section .image-card-sec .arrow_vertical {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.14) 0 0 18px;
}
.block-80 .gallery-section .image-card-sec .arrow_vertical i {
  font-size: 12px;
  color: var(--theme-color);
  font-weight: bold;
}
.block-80 .gallery-section .image-card-sec .arrow_vertical {
  top: 50%;
  transform: translateY(-50%);
}
.block-80 .gallery-section .image-card-sec .arrow_vertical-next {
  right: -40px;
  position: absolute;
  z-index: 1000;
}
@media (max-width: 1400px) {
  .block-80 .gallery-section .image-card-sec .arrow_vertical-next {
    right: 0;
  }
}
@media (max-width: 450px) {
  .block-80 .gallery-section .image-card-sec .arrow_vertical-next {
    right: -1px;
  }
}
.block-80 .gallery-section .image-card-sec .arrow_vertical-prev {
  left: -40px;
  position: absolute;
  z-index: 1000;
}
@media (max-width: 1400px) {
  .block-80 .gallery-section .image-card-sec .arrow_vertical-prev {
    left: 0;
  }
}
@media (max-width: 450px) {
  .block-80 .gallery-section .image-card-sec .arrow_vertical-prev {
    left: -1px;
  }
}
.block-80 .gallery-section .image-card-sec .card {
  overflow: hidden;
  border: none;
  position: relative;
  width: 100%;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 15px;
}
.block-80 .gallery-section .image-card-sec .card:hover img {
  transform: scale(1.1);
}
.block-80 .gallery-section .image-card-sec .card a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 5;
}
.block-80 .gallery-section .image-card-sec .card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.block-80 .gallery-section .image-card-sec .card .news-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  text-shadow: rgba(0, 0, 0, 0.48) 0 0 14px;
  z-index: 6;
  transition: all 0.3s ease;
}
.block-80 .gallery-section .image-card-sec .card .news-title:hover {
  color: var(--theme-color);
}
.block-80 .gallery-section .image-card-sec .card .icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}
