.single__big-news {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.single__big-news .big__news-card {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  align-items: center;
}

.single__big-news .big__news-card .big__title {
  font-size: 38px;
  letter-spacing: 0.5px;
  color: #000;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1336px) {
  .single__big-news .big__news-card .big__title {
    font-size: 32px;
  }
}

.single__big-news .big__news-card .big__news-desc {
  font-size: 22px;
  letter-spacing: 0.5px;
  color: var(--text-color);
  text-align: center;
}

@media (max-width: 768px) {
  .single__big-news .big__news-card .big__news-desc {
    font-size: 20px;
  }
}

.single__big-news .big__news-card .news__big-img {
  width: 100%;
  height: 800px;
}

@media (max-width: 1280px) {
  .single__big-news .big__news-card .news__big-img {
    height: 700px;
  }
}

@media (max-width: 1024px) {
  .single__big-news .big__news-card .news__big-img {
    height: 600px;
  }
}

@media (max-width: 992px) {
  .single__big-news .big__news-card .news__big-img {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .single__big-news .big__news-card .news__big-img {
    height: 400px;
  }
}

@media (max-width: 580px) {
  .single__big-news .big__news-card .news__big-img {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .single__big-news .big__news-card .news__big-img {
    height: 200px;
  }
}

.single__big-news .big__news-card .news__big-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.single__big-news .big__news-card .news__author {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
  flex-wrap: wrap;
}

.single__big-news .big__news-card .news__author .author a {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}

.single__big-news .big__news-card .news__author .author a .author__avatar {
  max-width: 3rem;
  height: 3rem;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .single__big-news .big__news-card .news__author .author a .author__avatar {
    max-width: 2rem;
    height: 2rem;
  }
}

.single__big-news .big__news-card .news__author .author a .author__avatar img {
  width: 100%;
  object-fit: contain;
}

.single__big-news .big__news-card .news__author .author a .author__name {
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--text-color);
  line-height: 25px;
}

.single__big-news .big__news-card .news__author .news__post-date .date {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--text-color);
  line-height: 25px;
}

.single__big-news .big__news-card .news__author .news__post-date .date i {
  font-size: 18px;
  color: var(--text-color);
  display: flex;
}