.block-54-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.block-54-grid .grid__left {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}
.block-54-grid .grid__left .grid__card {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
}
.block-54-grid .grid__left .grid__card .card__img a {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50%;
}
.block-54-grid .grid__left .grid__card .card__img a img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(1.01);
  transition: all 1s ease-in-out;
}
.block-54-grid .grid__left .grid__card .card__details .card__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-color);
  transition: all 300ms ease-in-out;
}
.block-54-grid .grid__left .grid__card .card__details .card__desc {
  font-size: 18px;
  line-height: 1.5;
}
.block-54-grid .grid__right {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}
.block-54-grid .grid__right .grid__card {
  display: flex;
  align-items: flex-start;
  grid-gap: 1rem;
}
.block-54-grid .grid__right .grid__card .card__img {
  flex: 1;
}
.block-54-grid .grid__right .grid__card .card__img a {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60%;
}
.block-54-grid .grid__right .grid__card .card__img a img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: scale(1.01);
  transition: all 1s ease-in-out;
}
.block-54-grid .grid__right .grid__card .card__details {
  flex: 2;
}
.block-54-grid .grid__right .grid__card .card__details .card__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-color);
  transition: all 300ms ease-in-out;
}
.block-54-grid .grid__right .grid__card .card__details .card__desc {
  font-size: 18px;
  line-height: 1.5;
}@media (max-width: 992px){
  .block-79 .video-section .content-left .news-title-sec .news-title a{
    font-size: 26px !important;
    line-height: 1.5 !important;
    flex-direction: column !important;
    grid-gap: 16px !important;
  }

  .block-79 .video-section .content-left .news-title-sec{
    width: 100% !important;
    display: block !important;
    padding: 20px !important;
  }
}

@media (max-width: 970px){
  .block-75 .entertainment-section .img-card-section .img-card img{
    height: 400px !important;
  }
}

@media (max-width: 768px){
  .block-54-grid{
    grid-template-columns: repeat(1,1fr) !important;
  }

  .block-75 .entertainment-section .img-card-section .img-card img{
    height: 300px !important;
  }

  .block-75 .entertainment-section .img-card-section .img-card .news-title,
  .block-75 .entertainment-section .img-card-section .img-card:nth-child(1) .news-title, .block-75 .entertainment-section .img-card-section .img-card:nth-child(2) .news-title{
    font-size: 24px !important;
  }
  
  .block-75 .entertainment-section .title-sec{
    flex-wrap: unset !important;
  }

  .block-75 .entertainment-section .title-sec .title-wrap{
    flex-wrap: wrap !important;
    justify-content: flex-start !important;
  }

  .block-75 .entertainment-section .title-sec .categories-sec{
    margin-left: 0 !important;
  }

  .block-75 .entertainment-section .title-sec .categories-sec ul{
    flex-wrap: wrap !important;
  }
}

@media (max-width: 600px){
  .block-59-grid{
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .block-59-grid .grid__card .card__details .card__title{
    font-size: 20px !important;
  }
}

@media (max-width: 550px){
  .block-54-grid .grid__right .grid__card .card__details .card__title{
    font-size: 20px !important;
  }
}

@media (max-width: 500px){
  .block-75 .entertainment-section .img-card-section{
    grid-template-columns: repeat(1, 1fr) !important;
  }
}