
.block-39 .news__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 40px;
  row-gap: 20px;
}
@media (max-width: 575px) {
  .block-39 .news__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.block-39 .news__list-card {
  display: flex;
  gap: 5px;
}
@media (max-width: 575px) {
  .block-39 .news__list-card {
    grid-column: span 1;
  }
}
.block-39 .news__list-main {
  flex: 1px;
  display: flex;
  gap: 15px;
}
.block-39 .news__list-title {
  flex: 1;
}
.block-39 .news__list-title h4 {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
}
@media (max-width: 767px) {
  .block-39 .news__list-title h4 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .block-39 .news__list-title h4 {
    font-size: 18px;
  }
}
.block-39 .news__list-image {
  width: 30%;
}
@media (max-width: 575px) {
  .block-39 .news__list-image {
    width: 90px;
  }
}
@media (max-width: 400px) {
  .block-39 .news__list-image {
    width: 80px;
  }
}
.block-39 .news__list-image a {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 90%;
}
.block-39 .news__list-image img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 575px) {
  .block-39 .news__list {
    grid-template-columns: repeat(1, 1fr);
  }
}