.section__title {
  font-size: 58px;
  font-weight: 700;
  position: relative;
  color: var(--para-color);
  transition: all 300ms ease-in-out;
}
@media (max-width: 1336px) {
  .section__title {
    font-size: 48px;
  }
}
@media (max-width: 992px) {
  .section__title {
    font-size: 42px;
  }
}
.section__title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 83%;
  height: 0.4rem;
  background: var(--theme-color);
  border-radius: 5px;
}
.section__title::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 15%;
  height: 0.4rem;
  background: var(--secondary-color);
  border-radius: 5px;
}

.block-20-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 768px) {
  .block-20-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .block-20-grid {
    display: flex;
    flex-direction: column;
  }
}
.block-20-grid .big__grid-card {
  grid-column: span 2;
  grid-row: span 5;
  position: relative;
}
@media (max-width: 500px) {
  .block-20-grid .big__grid-card {
    grid-column: span 1;
  }
}
.block-20-grid .big__grid-card:hover .big__grid-img img {
  transform: scale(1.1);
}
.block-20-grid .big__grid-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  z-index: 1;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}
@media (max-width: 500px) {
  .block-20-grid .big__grid-card::before {
    display: none;
  }
}
.block-20-grid .big__grid-card .big__grid-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .block-20-grid .big__grid-card .big__grid-img {
    height: 300px;
  }
}
.block-20-grid .big__grid-card .big__grid-img img {
  transform: scale(1.01);
  transition: all 0.5s ease-in-out;
}
.block-20-grid .big__grid-card .big__grid-details {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 6;
  padding: 1rem;
}
@media (max-width: 500px) {
  .block-20-grid .big__grid-card .big__grid-details {
    position: relative;
    padding: 1rem 0;
  }
}
.block-20-grid .big__grid-card .big__grid-details .card__title {
  font-size: 32px;
  letter-spacing: 1px;
  color: #fff;
  line-height: 45px;
  transition: all 300ms ease-in-out;
}
.block-20-grid .big__grid-card .big__grid-details .card__title:hover {
  color: var(--secondary-color);
}
@media (max-width: 500px) {
  .block-20-grid .big__grid-card .big__grid-details .card__title {
    color: var(--para-color);
    font-size: 26px;
  }
}
.block-20-grid .small__grid-card {
  display: flex;
  align-items: flex-start;
  grid-gap: 1rem;
}
.block-20-grid .small__grid-card .small__grid-img {
  flex: 1;
  height: 80px;
}
@media (max-width: 550px) {
  .block-20-grid .small__grid-card .small__grid-img {
    height: 70px;
  }
}
.block-20-grid .small__grid-card .small__grid-details {
  flex: 2;
}
.block-20-grid .small__grid-card .small__grid-details .card__title {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: var(--text-color);
  transition: all 300ms ease-in-out;
}
.block-20-grid .small__grid-card .small__grid-details .card__title:hover {
  color: var(--secondary-color);
}
