@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
.header-25.fixedBox {
  position: fixed;
  width: 100%;
}
.header-25 .header__top {
  padding: 0px 0 8px;
}
@media (max-width: 575px) {
  .header-25 .header__top {
    padding: 15px 0 8px;
  }
}
.header-25 .header__top-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
@media (max-width: 575px) {
  .header-25 .header__top-content {
    gap: 0px;
  }
}
.header-25 .header__top-left {
  text-align: center;
}
.header-25 .header__top-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: mukta, sans-serif;
}
.header-25 .header__logo img {
  width: 250px;
  height: auto;
}
@media (max-width: 767px) {
  .header-25 .header__logo img {
    width: 160px;
  }
}
@media (max-width: 575px) {
  .header-25 .header__logo img {
    width: 200px;
  }
}
@media (max-width: 375px) {
  .header-25 .header__logo img {
    width: 200px;
  }
}
@media (max-width: 200px) {
  .header-25 .header__logo img {
    width: 100%;
  }
}
.header-25 .header__flex {
  display: flex;
  align-items: center;
}
.header-25 .header__date {
  font-size: 14px;
  font-weight: 400;
  color: #191e21 !important;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: mukta, sans-serif;
  line-height: 1.42857143;
}
.header-25 .header__date span {
  font-size: 14px;
  font-weight: 400;
  color: #191e21 !important;
  line-height: 1.42857143;
  font-family: mukta, sans-serif;
}
.header-25 .header__dateEng {
  font-family: mukta, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #191e21;
  line-height: 1.42857143;
}
.header-25 .header__menu {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.header-25 .header__menu.sticky {
  position: fixed;
  top: 0;
  z-index: 998;
  width: 100%;
  animation: stickyHeaderTransition 0.5s alternate;
}
.header-25 .header__menu.sticky::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.header-25 .header__menu.sticky .sticky__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-25 .header__menu.sticky .help-button-wrapper {
  top: 70px;
  right: -1px;
  display: block;
}
.header-25 .header__menu.sticky .help-button-wrapper .navone li {
  display: block;
  padding: 8px 2px 4px;
}
@media (max-width: 1410px) {
  .header-25 .header__menu.sticky .navbar {
    gap: 15px;
  }
}
@media (max-width: 1410px) {
  .header-25 .header__menu.sticky .navbar {
    gap: 5px;
  }
}
@media (max-width: 1340px) {
  .header-25 .header__menu.sticky .navbar .navbar-nav .nav-link {
    padding: 6px 12px 2px;
  }
}
@media (max-width: 1199px) {
  .header-25 .header__menu.sticky .navbar .navbar-nav .nav-link {
    padding: 6px 10px 2px;
    font-size: 12px;
  }
}
.header-25 .header__menu .help-button-wrapper {
  position: absolute;
  top: 6.4em;
  right: 5.4em;
  text-align: center;
  z-index: 99;
}
.header-25 .header__menu .help-button-wrapper .navone {
  background: #9b9b9b;
  padding: 0;
  margin-bottom: 0;
}
.header-25 .header__menu .help-button-wrapper .navone li {
  display: inline-block;
  padding: 8px 7px 4px;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.header-25 .header__menu .help-button-wrapper .navone li a {
  font-size: 14px;
  font-weight: 300;
}
.header-25 .header__menu .help-button-wrapper .navone li:hover {
  background: var(--secondary-color);
}
.header-25 .header__menu .help-button-wrapper .navone li:hover a {
  color: #fff !important;
  transform: scale(1.03);
}
.header-25 .header__menu .help-button-wrapper .navone li,
.header-25 .header__menu .help-button-wrapper .navone li a,
.header-25 .header__menu .help-button-wrapper .navone li svg {
  vertical-align: middle;
  color: #fff !important;
}
.header-25 .header__menu .help-button-wrapper ul > li > a:focus,
.header-25 .header__menu .help-button-wrapper ul > li > a:visited {
  color: #fff !important;
}
.header-25 .header__menu .sticky__logo {
  display: none;
  width: auto;
  height: 40px;
  background: #ffffff;
}
.header-25 .header__menu .sticky__logo img {
  object-fit: contain;
  width: auto !important;
  height: 30px;
}
@media (max-width: 1199px) {
  .header-25 .header__menu .sticky__logo img {
    height: 25px;
  }
}
.header-25 .header__menu .navbar {
  padding: 0;
  gap: 30px;
}
@media (max-width: 1410px) {
  .header-25 .header__menu .navbar {
    gap: 15px;
  }
}
@media (max-width: 1199px) {
  .header-25 .header__menu .navbar {
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .header-25 .header__menu .navbar {
    justify-content: start;
  }
}
.header-25 .header__menu .navbar .navbar-nav .nav-item {
  transition: all 0.3s ease-in-out;
}
.header-25 .header__menu .navbar .navbar-nav .nav-item:hover {
  background: var(--secondary-color);
  color: white;
}
.header-25 .header__menu .navbar .navbar-nav .nav-item:hover .nav-link {
  color: #ffffff !important;}
.header-25 .header__menu .navbar .navbar-nav .nav-link {
  font-family: "Karma", serif;
  padding: 6px 18px 2px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  font-weight: 300;
  line-height: 32px;
  background: transparent;
}
.header-25 .header__menu .navbar .navbar-nav .nav-link:hover {
  color: #ffffff !important;
}
@media (max-width: 1199px) {
  .header-25 .header__menu .navbar .navbar-nav .nav-link {
    padding: 4px 12px 0;
    font-size: 14px;
  }
}
.header-25 .header__menu .navbar .navbar-nav .nav-link:hover {
  transform: scale(1.04) perspective(1px);
}
.header-25 .header__menu .navbar .navbar-nav .nav-link .nav-icon {
  display: block;
}
.header-25 .header__menu .navbar .navbar-nav .nav-item:first-child .nav-link {
  padding-left: 0px;
}
.header-25 .header__menu .navbar .sidebar__icon {
  font-size: 20px;
  line-height: 1;
  position: relative;
  display: flex;
}
@media (max-width: 991px) {
  .header-25 .header__menu .navbar .sidebar__icon {
    margin-right: auto;
  }
}
@media (max-width: 991px) {
  .header-25 .header__menu .navbar .sidebar__icon, .header-25 .header__menu .navbar .search__btn {
    padding: 10px 0;
    display: flex;
  }
}
.header-25 .header__menu .navbar a {
  color: #fff !important;
}
.header-25 .cta__social-links {
  gap: 8px;
  font-size: 15px;
  font-family: "Karma", serif;
}
.header-25 .cta__social-links a {
  background-color: transparent;
  width: 20px;
  height: 28px;
  display: flex;
  position: relative;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.header-25 .cta__social-links a::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--theme-color);
  opacity: 0.1;
  z-index: -1;
}
.header-25 .cta__social-links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.header-25 .cta__social-links a i, .header-25 .cta__social-links a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-25 .search__btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color);
  font-size: 14px;
}
@media (max-width: 575px) {
  .header-25 .search__btn {
    font-size: 14px !important;
  }
}
.header-25 .setting__btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color);
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 575px) {
  .header-25 .setting__btn {
    font-size: 14px !important;
    width: 32px;
    height: 32px;
  }
}
.header-25 .eng__btn {
  text-transform: uppercase;
  font-family: "Mukta", serif;
  font-size: 14px;
  height: 40px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-color);
}
.header-25 .image__size a {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100%;
}
.header-25 .image__size img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header-25 .dropdown:hover .dropdown-menu {
  display: block;
}
.header-25 .dropdown-box {
  padding-top: 2px;
}
.header-25 .dropdown-menu {
  margin-top: 0px;
  border: 0px;
  padding: 0;
}
.header-25 .dropdown-menu::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 2px);
  background-color: #464646;
  opacity: 0.8;
  z-index: -1;
}
.header-25 .dropdown-item {
  position: relative;
  transition: all 0.3s ease-in-out;
  font-family: "Karma", serif;
  padding: 4px 20px 0px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  font-weight: 300;
  line-height: 32px;
  background: transparent;
}
.header-25 .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.header-25 .dropdown__arrow {
  font-size: 16px;
  margin-left: 5px;
}
@media (max-width: 1074px) {
  .header-25 .dropdown__arrow {
    font-size: 14px;
  }
}
.header-25 .header__search {
  position: relative;
}
.header-25 .search__wrapper {
  position: absolute;
  width: 75vh;
  right: 0;
  top: calc(100% + 6px);
  display: none;
}
.header-25 .search__wrapper.active {
  display: block;
}
.header-25 .search__wrapper .form-control {
  border: 0;
  box-shadow: 0px 1px 4px #ddd;
  border-radius: 0px !important;
  padding: 10px 12px 5px;
  font-size: 14px;
}
.header-25 .sidebar__menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 11;
  background: #464646;
  flex-direction: column;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  display: none;
  /* width */
  /* Track */
  /* Handle */
}
.header-25 .sidebar__menu-wrapper::-webkit-scrollbar {
  width: 5px;
}
.header-25 .sidebar__menu-wrapper::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.header-25 .sidebar__menu-wrapper::-webkit-scrollbar-thumb {
  background: #505050;
}
.header-25 .sidebar__menu-wrapper.active {
  display: flex;
  transform: translateX(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: sidebarMenu 0.2s linear;
}
.header-25 .sidebar__menu-wrapper .sidebar__close-btn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  z-index: 1;
  color: var(--theme-color) !important;
}
.header-25 .sidebar__menu-logo {
  padding: 20px 30px 0;
}
.header-25 .sidebar__menu-list {
  flex: 1;
  padding: 20px 0px 20px 10px;
  margin: 0;
  overflow: auto;
}
.header-25 .sidebar__menu-list .sidebar__nav-link {
  display: block;
  color: #ffffff !important;
  text-decoration: none;
  padding: 15px 20px !important;
  font-size: 16px;
  line-height: 1;
  font-family: karma, serif;
  font-weight: 300;
}
.header-25 .sidebar__menu-list .sidebar__nav-link i, .header-25 .sidebar__menu-list .sidebar__nav-link svg {
  font-size: 14px;
  transform: rotate(-90deg);
  transition: all 0.1s ease-in-out;
}
.header-25 .sidebar__menu-list .sidebar__nav-link.active i, .header-25 .sidebar__menu-list .sidebar__nav-link.active svg {
  transform: rotate(0deg);
}
.header-25 .sidebar__menu-list .sidebar__nav-link:hover {
  background: #585858;
}
.header-25 .sidebar__menu-list .sidebar__dropdown-menu {
  flex-direction: column;
  display: none;
  background-color: #333333;
}
.header-25 .sidebar__menu-list .sidebar__dropdown-menu.active {
  display: flex;
  animation: fadeIn 0.3s linear;
}
.header-25 .sidebar__menu-list .sidebar__dropdown-menu a {
  padding: 8px 15px;
  color: #fff !important;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}
.header-25 .sidebar__menu-list .sidebar__dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.header-25 .setting__wrapper {
  position: relative;
}
.header-25 .setting__wrapper .help-list {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #464646;
  padding: 12px 15px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
  display: none;
}
.header-25 .setting__wrapper .help-list.active {
  display: block;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes stickyHeaderTransition {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes sidebarMenu {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.backdrop__overlay {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 500ms ease-in-out;
}
